.ideaContainer {
    min-width: 640px;
    border-radius: 4px;
    border: .5px #ccc solid;
    padding-left: 40px;
    background-color: #fff;
    margin: 16px 0;
    position: relative;
    cursor: pointer;
    &:hover {
        border-color: #000;
    }
}
.ideaContent {
    margin-top: 16px;
    cursor: default;
    .publishedTime {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin: 0 8px 8px;
        position: relative;
        color: #787C7E;
    }
}
.titleSection {
    margin: 0 8px;
}
.ideaTitle {
    font-size: 18px;
}

.ideaDetail {
    overflow: hidden;
    padding: 5px 8px 10px;
}

.voteSection {
    position: absolute;
    font-size: 24px;
    left: 0;
    top: 0;
    .voteNumber {
        font-size: 16px;
        font-weight: 700;
    }
    .downvote, .upvote {
        cursor: pointer;
        color: #ced3d0;
    }
}

.ideaBtn {
    border: none;
    background-color: transparent;
    color: #929597;
    font-weight: 700;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 8px;
    box-sizing: border-box;
    
}