@import "../../styles/colors.scss";

.idea-container {
    &:hover {
        cursor: pointer;
        border-color: $gi-teal;
    }
}

.owned-idea {
    border-radius: 4px;
    border: 0.5px $gi-beige solid;
    &:hover {
        border: 0.5px $gi-teal solid;
    }
}

.vote-section {
    font-size: 32px;
    .vote-number {
        font-size: 16px;
        font-weight: 700;
    }
    .vote-arrow {
        display: flex;
        color: #ced3d0;
        .upvoted {
            color: $gi-olive;
        }
        .downvoted {
            color: $gi-pink;
        }
    }
}

.cutoff-text {
    --max-lines: 3;
    --line-height: 1.4;

    height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}

.cutoff-text::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

.not-allowed-pointer {
    cursor: not-allowed;
}

.overlay-scrollbar {
    overflow-y: scroll;
}
