nav {
    background-color: #20DF7F;
    display: flex;
    justify-content: space-between;
}
.nav_logo {
    min-width: 200px;
    flex: 1;
}
.search_container {
    flex: 3;
   form {
    display: flex;
    align-items: center;
   }
}

.nav_icons {
    display: flex;
    min-width: 200px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    
    .nav_profile, .nav_notification {
        color: #fff;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
.sub_item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover {
        background-color: #ccc;
        color: #000;
    }
}

@media screen and (max-width: 600px) {
    .search_container {
        display: none;
    }
}