@import "../../styles/colors";

.tableFixedHead {
    overflow: scroll;
    height: 80vh;
}

.tableFixedHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableFixedHead thead th {
    background: $gi-teal;
    color: $gi-white;
}

.tableFixedHead tbody td {
    position: relative;
}
